@model MvcLabManager.Models.Computer

@{
    ViewData["Title"] = "Atualizar Computadores";
}

<div class="text">
    <h1 class="display-4">Atualizar Computadores</h1>
    <hr>
       
</div>
<div class="container">
    <form action="Creating" method="POST">
        <div class="form-group">
            <input type="number" name="id" id="id" class="form-control" value=@Model.Id hidden>
        </div>  
        <div class="form-group" >
            <label for="ram">Ram</label>
            <input type="text" name="ram" id="ram" class="form-control" required>
        </div> 
        <div class="form-group" >
            <label for="processor">Processador</label>
            <input type="text" name="processor" id="processor" class="form-control" required>
        </div> 
        
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>
    

